/* General */
*{
    margin: 0;
    padding: 0;
    max-width: 1400px;
    background: #FFFFFF;
    font-family: 'Raleway', sans-serif;
}
body{
    margin: 0 50px 0 50px;
}
a{
    text-decoration: none;
}
a:visited{
    color: black;
}

/* Header */
/* Menu de naviguation */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}
nav img {
    width: 61.09px;
    height: 19px;
}
.menu{
    font-weight: 400;
    font-size: 16px;
}
nav a {
    margin-left: 67px;
}
nav a:hover {
    padding-top: 24px;
    font-weight: 500;
    color: #0065FC;
    border-top: 2px #0065FC solid;
}
/* Texte */
header h1{
    margin-top: 20px;
    font-size: 22px;
    font-weight: 700;   
}
header p{
    margin-top: 5px;
    font-size: 16px;
    font-weight: 400;
}

/* Main */
/* Formulaire de recherche */
form{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: 700;
}
#ico_recherche{
    padding: 10px;
    background-color: #F2F2F2;
    border: 1px #F2F2F2 solid;
    border-radius: 15px 0 0 15px;
}
#champ_saisie{
    text-align: center;
    color: black;
    padding-left: 10px;
    border: 1px #F2F2F2 solid;
    font-size: 18px;
    font-weight: 700;
}
#boutton_recherche{

    padding-left: 10px;
    padding-right: 10px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 700; 
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
}