/* General */
* {
    margin: 0;
}
html {
    max-width: 1400px;
}
body {
    padding: 0 50px;
}
a {
    text-decoration: none;
}
a:visited {
    color: black;
}
h1, h2, h3, p, a{
    font-family: 'Raleway', sans-serif;
}
h1, h2, h3 {
    font-weight: 700;    
}
h1 {
    font-size: 22px;
}
h2{
    font-size: 18px;
}
h3{
    font-size: 16px;
}
p{
    font-size: 16px;
    font-weight: 400;
}

/* Header */
header {
    padding: 20px 0;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 48px;
}
nav img {
    width: 61.09px;
    height: 19px;
}
nav a {
    margin-left: 67px;
}
nav a:hover {
    color: #0065FC;
    border-top: 2px #0065FC solid;
}

/* Main */
/* Bouton de recherche */
form {
    margin: 10px 0;
}
#ico_recherche {
    background-color: #F2F2F2;
    padding: 5px 5px 5px 5px;
    border-radius: 10px 0 0 10px;
}
#champ_saisie {
    padding: 5px 0px 2px 0px;
    border: 2px #F2F2F2 solid;
}
#boutton_recherche {
    color: white;
    background-color: #0065FC;
    border: none;
    padding: 7px 5px 4px 5px;
    border-radius: 0 10px 10px 0;
}
/* Filtres */
.filtre {
    display: flex;
    flex-direction: row;
}
.filtre h2 {
    padding-top: 5px;
}
.filtre a:hover {
    background-color: #DEEBFF;
}
.filtre i {
    color: #0065FC;
}
.filtre_bouton{
    font-size: 17px;
    padding: 5px 10px 5px 10px;
    margin-left: 25px;
    border: 2px #F2F2F2 solid;
    border-radius: 25px;
}
/* Informations */
#i {
    color: #0065FC;

}
/* Footer */
.bloc_legende{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.legende {
    text-align: left;
}
.legende a:hover {
    text-decoration: underline;
}
.legende h2 {
    line-height: 3em;
}
.legende p {
    line-height: 2em;
}